body {
    margin: 0;
    font-family: Roboto, sans-serif;
    padding: 0;
    
}

.hero, .footer{
    background-color: #1F2937;
    padding: 0 10rem;
    padding-top: 16px;
    margin: 0;
}

.hero .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8em;
}

.hero .logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.hero .header-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 5em;
    
}

.hero .content {
    max-width: 50%;
}

.hero .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero .subtitle {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero .button {
    margin: 8px 0;
    color: #E5E7EB;
    background-color: #3882f6;
    text-align: center;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 20px;
}
.hero .image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;
}

.image-container img {
    
    max-height: 300px;
    max-width: 100%;
    width: auto;
    height: auto;
    
}

.information {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    margin: 0;
    padding: 0;
}

.information .title {
    padding: 1em;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.information .images {
    display: flex;
    flex: 1;
    
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.random img {
    max-width: 200px;
    max-height: 200px;
    border-color: #3882f6;
    border-radius: 5px;
}

.random .caption {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    margin-top: 5px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5em 10em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote .text {
    word-wrap: break-word;
    margin: 0 auto;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote .author {
    
    margin-top: 5px;
    margin-left: auto;
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.action {
    margin: 5em 10em;
    display: flex;
    flex: 1;
    background-color: #3882f6;
    padding: 3em 5em;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
}



.action .title {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.action .subtitle {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.action button {
    color: #f9faf8;
    background: transparent;
    text-align: center;
    border-width: 3px;
    border-color: #f9faf8;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.footer {
    display: flex;
    margin: 0;
    padding: 8px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 12px;
}